@charset "UTF-8";
body{
 background:rgb(255, 255, 0);
 text-align:center;
}
h1{
font-family: inherit;
 font-weight: bold;
 color:#800040;	
}
h2{
	font-family: inherit;
 font-weight: bold;
 color:#ff8000;
}
h3{
 font-family: inherit;
 font-weight: bold;
 color:rgb(0, 255, 0);
}
p{
 font-family: inherit;
 font-weight: bold;
 font-size: 20px;
 color:black;
}
table,td,th{
	margin-left:35%;
	border:2px solid rgb(64, 0, 64);	
	border-collapse: collapse;
}
#tableAlign{
	text-align:center;
}